@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body {
    color: #cecfce;
    background-color: #063a3d ;
  }
}

@layer components {
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5];
  }

  .tags{
    background-color: #fff;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #063a3d;
    font-size: 12px;
  } 

  .tags:last-child{
    margin-right: 0;
  }


  .tags:nth-child(1){
    background-color:  #FFC1C1;
    ;
  }


  .tags:nth-child(2){
    background-color:  #f8cf53;
  }


  .tags:nth-child(3){
    background-color: #fd926b;
  }
}
